#footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background-color: #003333;
  box-shadow: 2px -1px 5px #009799;
  border-top-style: solid;
  border-top-width: 3px;
  border-image: linear-gradient(45deg, #009799, white, #009799) 1;
  animation: pulse 4s ease infinite alternate;
}

@keyframes pulse {
  0% {
    border-image: linear-gradient(45deg, 009799, #009799, white, #009799, #009799) 1;
  }
  25% {
    border-image: linear-gradient(45deg, #009799, white, #009799, white, #009799,) 1;
  }
  50% {
    border-image: linear-gradient(45deg,  white, #009799, #009799,  #009799, white) 1;
  }
  75% {
    border-image: linear-gradient(45deg,  #009799, white, #009799, white,  #009799) 1;
  }
  100% {
    border-image: linear-gradient(45deg, #009799, #009799, white, #009799, #009799) 1;
  }
}